{% if site.profile %}
  <div class="profile-sidebar d-flex flex-row flex-md-column align-items-start">
    {% if site.profile.image %}
      {% assign profile_image_path = site.profile.image | prepend: 'assets/img/' %}
      {% if site.profile.image_circular %}
        {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
      {% else %}
        {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
      {% endif %}
      <div class="profile-sidebar-photo">
        {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class alt=site.profile.image cache_bust=true %}
      </div>
    {% endif %}
    {% if site.profile.more_info %}
      <div class="more-info">{{ site.profile.more_info }}</div>
    {% endif %}
  </div>
{% endif %}
